/*-- adapted from https://github.com/hadley/r4ds/blob/main/r4ds.scss --*/
/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Fira+Code&family=Poppins:wght@400;700;900&display=swap');


$primary: #023b2c !default;
$success: #457d8c !default;
$danger: #A60F2D !default;
$info: #3E3D3D !default;
$warning: #FCB040 !default;

/* Headings ------------------------------------------------------ */

h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
h3 { margin-top: 1.5em; font-size: 1.2rem; }
h4 { margin-top: 1.5em; font-size: 1.1rem; }
h5 { margin-top: 1.5em; font-size: 1rem; }

h1, h2, h3, h4, h5 {
  font-family: "Lato";
  color: $primary;
  line-height: 1.3;
}

/* Table of contents ------------------------------------------------------ */

div.sidebar-item-container .active, div.sidebar-item-container .show>.nav-link, div.sidebar-item-container .sidebar-link>code {
    color: #345f6a;
    font-weight: bold;
}

/* Body ------------------------------------------------------ */
p {
    font-family: "Poppins";
}

a {
  text-decoration-skip-ink: auto !important;
  text-decoration-color: #ced4da !important;
  text-decoration-thickness: 0.1em !important;
}

/* Code ------------------------------------------------------ */
p code:not(.sourceCode), li code:not(.sourceCode), td code:not(.sourceCode) {
    background-color: #dce2e1 !important;
    padding: .2em;
    color: $primary !important;
    font-family: Fira Code, monospace;
}

/*
.quarto-title-meta-heading {
  display: none;
}
*/

/* Table ------------------------------------------------ */
.table-caption, caption {
    color: #212529;
    text-align: left !important;
}

b, strong {
    font-weight: bold !important;
}

/* Code ------------------------------------------------ */

code {
  color: #373a3c;
}

code a:any-link {
  text-decoration: underline;
  text-decoration-color: #ccc;
}

pre {
  background-image: linear-gradient(160deg,#f8f8f8 0,#f1f1f1 100%);
}

/* Printing ------------------------------------------------ */

@media print {
  :root {
    font-size: 11pt;
  }
  #quarto-sidebar, #TOC, .nav-page {
    display: none;
  }
  .page-columns .content {
    grid-column-start: page-start;
  }
  .fixed-top {
    position: relative;
  }
  .panel-caption, .figure-caption, figcaption {
    color: #666;
  }
}

